Project-1/.vs/Project-1/FileContentIndex
;project-1/.vs/Project-1/v17/Browse.VC.opendb
;project-1/.vs/Project-1/v17/.suo
Project-1/.vs/
;Project-1/.vs/Project-1/v17
CPRO-PR1/.vs/
CPRO-PR1-2/.vs/
CPRO-PR1-3/.vs/
CPRO-PR1-4/.vs/
CPRO-PR1-5/.vs/
CPRO-PR1-6/.vs/
CPRO-PR1-7/.vs/
CPRO-PR1-8/.vs/
CPRO-PR1-9/.vs/
CPRO-PR1-10/.vs/
CPROUC-Test1/.vs/
CPROUC-Test2/.vs/
CPROUC-Test3/.vs/
CPROUC-Test4/.vs/
CPROUC-Test5/.vs/
CPROUC-Test6/.vs/
CPROUC-Test7/.vs/
CPROUC-Test8/.vs/
CPROUC-Test9/.vs/
CPROUC-Test10/.vs/